# Copia este archivo como .env y ajusta los valores si necesitas
# cp .env.example .env

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
REPLICA_PORT=5433

# pgAdmin (solo si usas: make up-admin)
PGADMIN_EMAIL=admin@clase01.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=8080
